{
 "msgVpnName": "{{ vpn.msgVpnName }}",
 "authenticationBasicType": "{{ vpn.authenticationBasicType }}",
 "enabled": {{ vpn.enabled }},
 "maxConnectionCount": {{ vpn.maxConnectionCount }},
 "maxMsgSpoolUsage": {{ vpn.maxMsgSpoolUsage }},
 "maxSubscriptionCount": {{ vpn.maxSubscriptionCount }},
 "eventLargeMsgThreshold": {{ vpn.eventLargeMsgThreshold }},
 "maxEgressFlowCount": {{ vpn.maxEgressFlowCount }},
 "maxEndpointCount": {{ vpn.maxEndpointCount }},
 "maxIngressFlowCount": {{ vpn.maxIngressFlowCount }},
 "maxMsgSpoolUsage": {{ vpn.maxMsgSpoolUsage }},
 "maxTransactedSessionCount": {{ vpn.maxTransactedSessionCount }},
 "maxTransactionCount": {{ vpn.maxTransactionCount }}
}
