{
 "clientProfileName": "{{ cp.clientProfileName }}",
 "allowGuaranteedMsgReceiveEnabled": {{ cp.allowGuaranteedMsgReceiveEnabled }},
 "allowGuaranteedMsgSendEnabled": {{ cp.allowGuaranteedMsgSendEnabled }}
}
