{
 "aclProfileName": "{{ acl.aclProfileName }}",
 "clientConnectDefaultAction": "{{ acl.clientConnectDefaultAction }}",
 "publishTopicDefaultAction": "{{ acl.publishTopicDefaultAction }}",
 "subscribeTopicDefaultAction": "{{ acl.subscribeTopicDefaultAction }}"
}
