{
 "queueName": "{{ q.queueName }}",
 "ingressEnabled": {{ q.ingressEnabled }} ,
 "egressEnabled": {{ q.egressEnabled }} ,
 "permission": "{{ q.permission }}" ,
 "owner": "{{ q.owner }}" ,
 "accessType": "{{ q.accessType }}",
 "maxMsgSpoolUsage": {{ q.maxMsgSpoolUsage }}
}
